#修改端口
server:
  port: 9080
  servlet:
    context-path: /autoimpactanalysis

#连接mysql数据库
spring:
  data:
    mongodb:
      uri: mongodb://127.0.0.1:27017/developdatabase
  datasource:
    dynamic:
      primary: mysql #设置默认的数据源或者数据源组,默认值即为 mysql
      strict: false #严格匹配数据源,默认false. true未匹配到指定数据源时抛异常,false使用默认数据源
      datasource:
        mysql:
          driver-class-name: com.mysql.cj.jdbc.Driver
          url: jdbc:mysql://127.0.0.1:3306/developdatabase?serverTimezone=GMT%2b8&allowMultiQueries=true
          username: root
          password: root123456


#        oracle-edw:
#          driver-class-name: oracle.jdbc.OracleDriver
#          url: jdbc:oracle:thin:@22.21.49.39:11521/edwsit
#          username: xyd
#          password: '!_GBr1kPM~m'

#        oracle-ads:
#          driver-class-name: oracle.jdbc.OracleDriver
#          url: jdbc:oracle:thin:@22.21.49.21:11521/ads
#          username: ads
#          password: ads
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB

#扫描所有mybatis的xml文件
mybatis:
  mapper-locations: classpath:mapper/*.xml
#打印sql语句
#  configuration:
#    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
#定制启动图案
#banner:
#  location: classpath:banner20200303.txt

logging:
  level:
    root: info
files:
  upload:
    path: src\\main\\resources\\files\\temp\\
  download:
    path: src\\main\\resources\\files\\temp\\

#log:
#    file: src\\main\\resources\\files\\logs

