*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.margin-l5{
    margin-left: 5px;
}

.margin-r5{
    margin-right: 5px;
}

.margin-l10{
    margin-left: 10px;
}

.margin-r10{
    margin-right: 10px;
}

.margin-l10r5{
    margin-left: 10px;
    margin-right: 5px;
}

.pd-10{
    padding: 10px 0;
}

.pd-5{
    padding: 5px 0;
}
