<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.autoimpactanalysis.mapper.ItemDetailListMapper">
    <insert id="insertItem"
            parameterType="com.example.autoimpactanalysis.entity.VO.ItemDetailListVO">
        insert into item_detail_list(
        <if test="reportId !=null and reportId !=''">
            report_id,
        </if>
        <if test="item1Order !=null and item1Order !=''">
            item1_order,
        </if>
        <if test="item1Title !=null and item1Title !=''">
            item1_title,
        </if>
        <if test="item1Name !=null and item1Name !=''">
            item1_name,
        </if>
        <if test="item1Detail !=null and item1Detail !=''">
            item1_detail,
        </if>
        <if test="item2Order !=null and item2Order !=''">
            item2_order,
        </if>
        <if test="item2Title !=null and item2Title !=''">
            item2_title,
        </if>
        <if test="item2Name !=null and item2Name !=''">
            item2_name,
        </if>
        <if test="item2Detail !=null and item2Detail !=''">
            item2_detail,
        </if>
        <if test="item3Order !=null and item3Order !=''">
            item3_order,
        </if>
        <if test="item3Title !=null and item3Title !=''">
            item3_title,
        </if>
        <if test="item3Name !=null and item3Name !=''">
            item3_name,
        </if>
        <if test="item3Detail !=null and item3Detail !=''">
            item3_detail,
        </if>
        <if test="item4Order !=null and item4Order !=''">
            item4_order,
        </if>
        <if test="item4Title !=null and item4Title !=''">
            item4_title,
        </if>
        <if test="item4Name !=null and item4Name !=''">
            item4_name,
        </if>
        <if test="item4Detail !=null and item4Detail !=''">
            item4_detail,
        </if>
        <if test="item5Order !=null and item5Order !=''">
            item5_order,
        </if>
        <if test="item5Title !=null and item5Title !=''">
            item5_title,
        </if>
        <if test="item5Name !=null and item5Name !=''">
            item5_name,
        </if>
        <if test="item5Detail !=null and item5Detail !=''">
            item5_detail,
        </if>
        <if test="item6Order !=null and item6Order !=''">
            item6_order,
        </if>
        <if test="item6Title !=null and item6Title !=''">
            item6_title,
        </if>
        <if test="item6Name !=null and item6Name !=''">
            item6_name,
        </if>
        <if test="item6Detail !=null and item6Detail !=''">
            item6_detail,
        </if>
        <if test="itemLevel !=null and itemLevel !=''">
            item_level
        </if>
        ) values(
        <if test="reportId !=null and reportId !=''">
            #{reportId},
        </if>
        <if test="item1Order !=null and item1Order !=''">
            #{item1Order},
        </if>
        <if test="item1Title !=null and item1Title !=''">
            #{item1Title},
        </if>
        <if test="item1Name !=null and item1Name !=''">
            #{item1Name},
        </if>
        <if test="item1Detail !=null and item1Detail !=''">
            #{item1Detail},
        </if>
        <if test="item2Order !=null and item2Order !=''">
            #{item2Order},
        </if>
        <if test="item2Title !=null and item2Title !=''">
            #{item2Title},
        </if>
        <if test="item2Name !=null and item2Name !=''">
            #{item2Name},
        </if>
        <if test="item2Detail !=null and item2Detail !=''">
            #{item2Detail},
        </if>
        <if test="item3Order !=null and item3Order !=''">
            #{item3Order},
        </if>
        <if test="item3Title !=null and item3Title !=''">
            #{item3Title},
        </if>
        <if test="item3Name !=null and item3Name !=''">
            #{item3Name},
        </if>
        <if test="item3Detail !=null and item3Detail !=''">
            #{item3Detail},
        </if>
        <if test="item4Order !=null and item4Order !=''">
            #{item4Order},
        </if>
        <if test="item4Title !=null and item4Title !=''">
            #{item4Title},
        </if>
        <if test="item4Name !=null and item4Name !=''">
            #{item4Name},
        </if>
        <if test="item4Detail !=null and item4Detail !=''">
            #{item4Detail},
        </if>
        <if test="item5Order !=null and item5Order !=''">
            #{item5Order},
        </if>
        <if test="item5Title !=null and item5Title !=''">
            #{item5Title},
        </if>
        <if test="item5Name !=null and item5Name !=''">
            #{item5Name},
        </if>
        <if test="item5Detail !=null and item5Detail !=''">
            #{item5Detail},
        </if>
        <if test="item6Order !=null and item6Order !=''">
            #{item6Order},
        </if>
        <if test="item6Title !=null and item6Title !=''">
            #{item6Title},
        </if>
        <if test="item6Name !=null and item6Name !=''">
            #{item6Name},
        </if>
        <if test="item6Detail !=null and item6Detail !=''">
            #{item6Detail},
        </if>
        <if test="itemLevel !=null and itemLevel !=''">
            #{itemLevel}
        </if>
        )
    </insert>

    <update id="updateItem"
            parameterType="com.example.autoimpactanalysis.entity.VO.ItemDetailListVO">
        update item_detail_list
        <set>
            <if test="reportId !=null and reportId !=''">
                report_id=#{reportId},
            </if>
            <if test="item1Order !=null and item1Order !=''">
                item1_order=#{item1Order},
            </if>
            <if test="item1Title !=null and item1Title !=''">
                item1_title=#{item1Title},
            </if>
            <if test="item1Name !=null and item1Name !=''">
                item1_name=#{item1Name},
            </if>
            <if test="item1Detail !=null and item1Detail !=''">
                item1_detail=#{item1Detail},
            </if>
            <if test="item2Order !=null and item2Order !=''">
                item2_order=#{item2Order},
            </if>
            <if test="item2Title !=null and item2Title !=''">
                item2_title=#{item2Title},
            </if>
            <if test="item2Name !=null and item2Name !=''">
                item2_name=#{item2Name},
            </if>
            <if test="item2Detail !=null and item2Detail !=''">
                item2_detail=#{item2Detail},
            </if>
            <if test="item3Order !=null and item3Order !=''">
                item3_order=#{item3Order},
            </if>
            <if test="item3Title !=null and item3Title !=''">
                item3_title=#{item3Title},
            </if>
            <if test="item3Name !=null and item3Name !=''">
                item3_name=#{item3Name},
            </if>
            <if test="item3Detail !=null and item3Detail !=''">
                item3_detail=#{item3Detail},
            </if>
            <if test="item4Order !=null and item4Order !=''">
                item4_order=#{item4Order},
            </if>
            <if test="item4Title !=null and item4Title !=''">
                item4_title=#{item4Title},
            </if>
            <if test="item4Name !=null and item4Name !=''">
                item4_name=#{item4Name},
            </if>
            <if test="item4Detail !=null and item4Detail !=''">
                item4_detail=#{item4Detail},
            </if>
            <if test="item5Order !=null and item5Order !=''">
                item5_order=#{item5Order},
            </if>
            <if test="item5Title !=null and item5Title !=''">
                item5_title=#{item5Title},
            </if>
            <if test="item5Name !=null and item5Name !=''">
                item5_name=#{item5Name},
            </if>
            <if test="item5Detail !=null and item5Detail !=''">
                item5_detail=#{item5Detail},
            </if>
            <if test="item6Order !=null and item6Order !=''">
                item6_order=#{item6Order},
            </if>
            <if test="item6Title !=null and item6Title !=''">
                item6_title=#{item6Title},
            </if>
            <if test="item6Name !=null and item6Name !=''">
                item6_name=#{item6Name},
            </if>
            <if test="item6Detail !=null and item6Detail !=''">
                item6_detail=#{item6Detail},
            </if>
            <if test="itemLevel !=null and itemLevel !=''">
                item_level=#{itemLevel}
            </if>
        </set>
        where id =#{id}
    </update>

    <select id="findPage" resultType="com.example.autoimpactanalysis.entity.ItemDetailList">
        SELECT i.id,
            r.report_name,
            i.report_id,
            i.item1_order,
            i.item1_title,
            i.item1_name,
            i.item1_detail,
            i.item2_order,
            i.item2_title,
            i.item2_name,
            i.item2_detail,
            i.item3_order,
            i.item3_title,
            i.item3_name,
            i.item3_detail,
            i.item4_order,
            i.item4_title,
            i.item4_name,
            i.item4_detail,
            i.item5_order,
            i.item5_title,
            i.item5_name,
            i.item5_detail,
            i.item6_order,
            i.item6_title,
            i.item6_name,
            i.item6_detail,
            i.item_level,
            i.insert_time
        FROM item_detail_list i
        LEFT JOIN report_detail r
        ON r.report_id = i.report_id
        ${ew.customSqlSegment}
    </select>
</mapper>
