<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.autoimpactanalysis.mapper.ReportStatisticsMapper">
    <select id="findReports" resultType="com.example.autoimpactanalysis.entity.VO.ReportStatisticsVO">
        SELECT r.id,
            r.report_id,
            r.report_name,
            r.report_detail,
            r.project_id,
            p.project_name,
            p.create_time,
            r.operation_flag
        FROM report_statistics r
        LEFT JOIN project_detail p
        ON r.project_id = p.project_id
        ${ew.customSqlSegment}
    </select>
</mapper>
